<nav id="navbar">
  <div class="logo">
    <img src="https://i.pravatar.cc/300?img=3" class="img-logo" alt="" />
    <a href="#!/home"><h3 class="txt-logo">AngularJS Hands On</h3></a>
  </div>
  <!-- <div class="nav-list">
    <ul class="list-items">
      <li class="list-item">
        <a href="#!/home">Home</a>
      </li>
      <li class="list-item"><a href="#!/schemaform">SchemaForm</a></li>
      <li class="list-item"><a href="#!/login">Login</a></li>
      <li class="list-item">
        <a href="#!/math">MathService</a>
      </li>
      <li class="list-item"><a href="#!/contact">Contact</a></li>
      <li class="list-item"><a href="">{{ $ctrl.listitem }}</a></li>
    </ul>
  </div> -->
  <div class="register">
    <a href="#!/login"><button class="btn btn-login">Login</button> </a>
    <!-- <a href="#!/register"
      ><button class="btn btn-register">Register</button>
    </a> -->
  </div>
</nav>
